.company-logo-container {
  width: 60px; /* Adjust this width as needed */
  height: 60px; /* Adjust this height as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin-right: 20px; /* Adjust this value for the desired spacing */
}

.company-logo {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}